@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    #root{
        @apply h-full;
    }

    html, body{
        @apply h-full;

        @apply select-none;

        @apply bg-transparent;

        @apply font-mono antialiased text-white;

        @apply overflow-hidden;
    }

    header{
        -webkit-app-region: drag;
    }

    button{
        -webkit-app-region: no-drag;
    }
}

/* jersey-25-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Jersey 25';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/jersey-25-v2-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* anton-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/anton-v25-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
